<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>hereveryday - {% block title %}主页{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="static/bootstrap-3.3.7-dist/js/html5shiv.min.js"></script>
      <script src="static/bootstrap-3.3.7-dist/js/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

{% include 'nav.html' %}
<div id="login_div">
    {% if request.user.is_authenticated %}
        <div>你好，{{request.user.username}} <a href="{% url 'logout' %}">登出</a></div>
    {% else %}
        <a href="{% url 'login' %}">登录</a>
    {% endif %}
</div>
{% block content %}
<h1>这是默认主页</h1>
{% endblock %}

{% include 'bottom.html' %}
</body>
</html>