{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">功能栏</button>
            </p>
            <div class="jumbotron">
                <img src="static/img/background.jpg" height="100%" width="100%"/>
                <!--<h1>这里是她的博客</h1>-->
                <p>你的每一天，记录你成长的点滴</p>
            </div>
            <div class="row">
                {% for title in titles %}
                <div class="col-xs-6 col-lg-4">
                    <!--<h2>2017-10-27</h2>-->
                    <p>{{title.title}}</p>
                    <a class="btn btn-default" href="{% url 'article' title.id %}">阅读全文</a>
                    </p>
                </div><!--/.col-xs-6.col-lg-4-->
                {% endfor %}
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="{% url 'add' %}" class="list-group-item">写文章</a>
            </div>
        </div><!--/.sidebar-offcanvas-->
{% endblock %}





